body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}

ul, ol {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav img {
  height: 100px;
  margin: auto;
}

header .container nav .nav-links {
  text-align: right;
}

header .container nav .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

header .container nav .nav-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}

header .container nav .nav-links ul .fa {
  color: #ffffff;
}

footer {
  background-color: aliceblue;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow-X: hidden;
}

.banner .bg_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .bg_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner .container .banner_cnt {
  position: absolute;
  top: 20%;
  color: #fff;
}

.banner .container .banner_cnt h1 {
  display: flex;
  flex-flow: column;
  font-size: 120px;
}

.banner .container .banner_cnt .banner_para {
  display: flex;
}

.banner .container .banner_cnt .banner_para p {
  max-width: 450px;
  font-size: 14px;
  margin-right: 200px;
}

.banner .container .banner_cnt .banner_para button {
  min-width: 250px;
  height: 50px;
}

.fea-kar {
  display: flex;
}

.fea-kar .featured {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.fea-kar .featured .bg_image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/images/Rectangle12.png);
}

.fea-kar .featured .bg_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.fea-kar .featured .featured_cnt {
  width: 100%;
  position: absolute;
}

.fea-kar .featured .featured_cnt h1 {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.fea-kar .featured .featured_cnt .featured_para p {
  width: 350px;
  font-size: 18px;
  color: #fff;
}

.fea-kar .featured .featured_cnt .featured_para button {
  width: 250px;
  height: 50px;
}

.fea-kar .karin {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.fea-kar .karin .bg_image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/images/Rectangle13.png);
}

.fea-kar .karin .bg_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.fea-kar .karin .karin_cnt {
  width: 100%;
  position: absolute;
}

.fea-kar .karin .karin_cnt h1 {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.fea-kar .karin .karin_cnt h1:last-child {
  text-align: end;
}

.fea-kar .karin .karin_cnt .karin_para p {
  font-size: 18px;
  color: #fff;
}

.fea-kar .karin .karin_cnt .karin_para button {
  width: 250px;
  height: 50px;
}

.dala_vi {
  display: flex;
}

.dala_vi .dala {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.dala_vi .dala .bg_image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/images/Rectangle14.png);
}

.dala_vi .dala .bg_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.dala_vi .dala .dala_cnt {
  width: 100%;
  position: absolute;
}

.dala_vi .dala .dala_cnt h1 {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.dala_vi .dala .dala_cnt .dala_para p {
  font-size: 18px;
  color: #fff;
}

.dala_vi .dala .dala_cnt .dala_para button {
  width: 250px;
  height: 50px;
}

.dala_vi .vi {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.dala_vi .vi .bg_image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/images/23.11.2020_11.28.22_REC.png);
}

.dala_vi .vi .bg_image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.dala_vi .vi .vi_cnt {
  width: 100%;
  position: absolute;
}

.dala_vi .vi .vi_cnt h1 {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.dala_vi .vi .vi_cnt h1:last-child {
  text-align: end;
}

.dala_vi .vi .vi_cnt .vi_para p {
  font-size: 18px;
  color: #fff;
}

.dala_vi .vi .vi_cnt .vi_para button {
  width: 250px;
  height: 50px;
}
