.banner{
    width: 100%;
    height: 100vh;
    overflow-X: hidden;
    .bg_image{
        width: 100%;
        height: 100%;
        position: relative;
        // .overlay{
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba($color: #000000, $alpha: .4);
        // }
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .4);
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
// header .container nav .nav-links ul li:first-child{
//     position: relative;
//     &::before{
//         content: 'bef';
//     }
//     &::after{
//         content: 'aft';
//     }
// }