.banner{
    width: 100%;
    height: 100vh;
    overflow-X: hidden;
    @media(max-width:1190px){
        width: 100%;
        height: 100vh;

    }
    @media(max-width:590px){
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        text-align: center;
    }
    .bg_image{
        width: 100%;
        height: 100%;
        position: relative;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .4);
        }
        // &::after{
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba($color: #000000, $alpha: .4);
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     display: block;
        // }
        // img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }.container{
        .banner_cnt{
           position: absolute; 
           top: 20%;
           color: #fff;
           @media(max-width:1190px){
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
           }
           @media(max-width:490px){
                top: 15%;
                position: absolute;
                align-items: center; 
                align-items: center;
                text-align: center;
            }
           h1{
            display: flex;
            flex-flow: column;
            font-size: 120px;
            span{
                &:nth-child(2){
                    padding-left: 120px;
                    @media(max-width:1190px){
                        padding-left: 0;
                    }
                }
                &:nth-child(3){
                    padding-left: 600px;
                    @media(max-width:1190px){
                        padding-left: 0;
                    }
                    @media(max-width:590px){
                        padding-left: 0;
                    }
                }
                
            }
            @media(max-width:990px){
               font-size: 70px;
            }
            @media(max-width:990px){
                width: 100%;
            }
            @media(max-width:590px){
                font-size: 40px;
            }

           }
           .banner_para{
                display: flex;                
                @media(max-width:490px){
                    flex-flow: column;
                }
                p{
                    width: 450px;
                    font-size: 14px;
                    margin-right: 200px;
                    @media(max-width:1190px){
                        text-align: center;
                        margin-right: 0;
                    //    width: 50%;
                    //    margin-right: 10%;
                       font-size: 14px;
                    }  
                   @media(max-width:490px){
                        width: 100%;
                        width: 312px;

                    } 
                }
                button{
                width: 250px;
                height: 50px;
                text-align: center;
                display: block;
                margin: auto;
                @media(max-width:490px){
                    width: 50%;
                }
                }
            }
                
        }
    }
}
