.fea-kar{
    display: flex;
    .featured{
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-flow: column;
        .bg_image{
           width: 100%;
           height: 100vh;
           position: relative;
           background-image: url(/images/Rectangle12.png);
           .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .4);
            } 
        }
        .featured_cnt{
            width: 100%;
            position: absolute; 
         //    display: flex;
            h1{
             display: flex;
             flex-flow: column;
             color: #fff;
            }
            .featured_para{ 
                p{
                    width: 350px;
                    font-size: 18px;
                    color: #fff;
                 }   
                button{
                    width: 250px;
                    height: 50px;
                }
            }
         }
    }
    .karin{
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        .bg_image{
           width: 100%;
           height: 100vh;
           position: relative;
           background-image: url(/images/Rectangle13.png);
           .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .4);
            } 
        }
        .karin_cnt{
            width: 100%;
            position: absolute; 
         //    display: flex;
            h1{
             display: flex;
             flex-flow: column;
             color: #fff;
            }
            h1:last-child{
                text-align: end;
            }
            .karin_para{
                p{
                    font-size: 18px;
                    color: #fff;
                 }   
                button{
                    width: 250px;
                    height: 50px;
                }
            }
         }
    }
}