.fea-kar{
    display: flex;
    flex-wrap: wrap;
    .featured{
        overflow: hidden;
        width: 50%;
        height: 100vh;
        // justify-content: space-around;
        // align-items: center;
        text-align: center;
        display: flex;
        flex-flow: column;
        @media(max-width:1190px){
            width: 100%;
            height: 100vh;
        }
        @media(max-width:990px){
            width: 100%;
            height: 100vh;
        }
        .bg_image{
           width: 100%;
           height: 100vh;
           position: relative;
        //    background-image: url(/images/Rectangle12.png);
        @media(max-width:990px){
            width: 100%;
            height: 100%;
        }
           .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .4);
            } 
            img{
                object-fit: cover;
                transition: .6s all ease-out;
            }
        .featured_cnt{
            width: 100%;
            position: absolute; 
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
         //    display: flex;
            h2{
             font-size: 80px;   
             display: flex;
             flex-flow: column;
             color: #fff;
             @media(max-width:490px){
                 font-size: 40px;
             }
            //  span{
            //      &:nth-child(2){
            //          padding-left: 90px;
            //      }
            //  }
            }
            .featured_para{ 
                p{
                    padding: 20px;
                    // text-align: left;
                    max-width: 350px;
                    font-size: 18px;
                    color: #fff;
                    margin: auto;
                 }   
                button{
                    width: 250px;
                    height: 50px;
                }
            }
        }
        }
         
        &.staggered{
            h2{
                span:nth-child(2){
                    padding-left: 350px;
                    @media(max-width:490px){
                        padding-left: 0;
                    }
                }
            }
            .featured_para{
                p{
                    text-align: left;
                    margin-left: 0%;
                }
            }
        }
        
         .karin{
            width: 50%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            .bg_image{
            width: 100%;
            height: 100vh;
            position: relative;
            background-image: url(/images/Rectangle13.png);
            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: #000000, $alpha: .4);
                } 
            }
            .karin_cnt{
                width: 100%;
                position: absolute; 
            //    display: flex;
                h1{
                display: flex;
                flex-flow: column;
                color: #fff;
                }
                h1:last-child{
                    text-align: end;
                }
                .karin_para{
                    p{
                        font-size: 18px;
                        color: #fff;
                    }   
                    button{
                        width: 250px;
                        height: 50px;
                    }
                }
            }
        }
    }
    .bg_image:hover{
        img{

            transform: scale(1.1);
        }
    }
    
}