.three-col{
    display: flex;
    flex-wrap: wrap;
    .la-ma-an{
        overflow: hidden;
        width: 640px;
        height: 540px;
        width: 33.33%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        .bg_image{
            width: 100%;
            height: 100%;
            position: relative;
            .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .4);
            } 
            img{
                object-fit: cover;
                transition: .6s all ease-out;
            }
            .la-ma-an_cnt{
                width: 100%;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h3{
                  span{
                    font-size: 80px;
                    color: #fff;
                    display: flex;
                    flex-flow: column;
                    @media(max-width:1190px){
                        font-size: 60px;
                    }
                    @media(max-width:490px){
                        font-size: 40px;
                    }
                  }
                }
            }
        }
        .bg_image:hover{
            img{

                transform: scale(1.1);
            }
        }
        .la-ma-an-para{
            align-items: center;
            @media(max-width:490px){
                display: flex;
                flex-flow: column;
            }
            p{
                align-items: center;
                width: 365px;
                font-size: 18px;
                color: #fff;
                margin: auto; 
                @media(max-width:1190px){
                    font-size: 12px;
                }
                @media(max-width:490px){
                    width: 250px;
                }
            }
            button{
                align-items: center;
             padding: 10px; 
             @media(max-width:490px){
                 margin-bottom: 10px;
                width: 173px;
            }  
            }
        }
        @media(max-width:1190px){
            width: 50%;
            height: 100%;
        }
        @media(max-width:990px){
            width: 50%;
            height: 100%;
        }
        @media(max-width:990px){
            width: 100%;
            height: 100%;
        }
    }
}